<ion-view view-title="Categories">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/user/">
        <div class="colored-square personal"><i class="fa fa-user-o" aria-hidden="true"></i></div><span class="container-title-list">Personal</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square gadget"><i class="ion-android-camera"></i></div><span class="container-title-list">Gadget</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square document"><i class="ion-android-list"></i></div><span class="container-title-list">Document</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square office"><i class="fa fa-building-o" aria-hidden="true"></i></div><span class="container-title-list">Office</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square jewelery"><i class="fa fa-diamond" aria-hidden="true"></i></div><span class="container-title-list">Jewelry</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square hobby"><i class="ion-ios-game-controller-a-outline"></i></div><span class="container-title-list">Hobby</span>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#">
          <div class="colored-square kids"><i class="ion-android-person"></i></div><span class="container-title-list">Kids</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
